<div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for carousel in carousels %}
      <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="{{ forloop.counter|add:"-1" }}" {% if forloop.counter|add:"-1" == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}  
    </div>
  
    <div class="carousel-inner">
      {% for carousel in carousels %}
        <div class="carousel-item {% if forloop.first %}active {% endif %}">
            <img src="{{ carousel.image.url }}" class="d-block w-100 h-100" alt="..." style="object-fit: cover; opacity: 0.5;" />
          <div class="carousel-caption d-block" style="background-color: rgba(11, 10, 10, 0.6); padding: 10px; border-radius: 10px;">
            <h3 class="text-light">{{ carousel.title }}</h3>
            <p class="text-light">{{ carousel.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>